<!-- Experience Section -->
<div id="section-experiences" class="row align-items-center section-height">
    <div class="col-12">
        <div class="row">
            <div class="col-md-6 pt-4">
                <div class="row text-center pb-2">
                    <h3>Education</h3>
                </div>
                <div class="row">
                    <div class="col-12 pb-3" *ngFor="let education of education_profile">
                        <div class="card shadow bg-body rounded">
                            <div class="card-body">
                                <div class="card-title h5">{{education?.study_area}}, {{education?.study_type}} From <a href="javascript:void(0);" class="text-decoration-none text-primary"><em>{{education?.institution}}</em></a></div>
                                <p class="text-primary">{{ education?.start_date | date: 'MMMM dd, YYYY' }} - {{ education?.end_date | date: 'MMMM dd, YYYY' }}</p>
                                <div class="card-text">{{education?.description}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pt-4">
                <div class="row text-center pb-2">
                    <h3>Work Experience</h3>
                </div>
                <div class="row">
                    <div class="col-12 pb-3" *ngFor="let work of work_profile">
                        <div class="card shadow bg-body rounded">
                            <div class="card-body">
                                <div class="card-title h5">{{work?.position}} <a href="{{work?.website}}" class="text-decoration-none text-primary"> <em>{{work?.company}}</em></a></div>
                                <p class="text-primary">{{ work?.start_date | date: 'MMMM dd, YYYY' }} - {{ work?.end_date | date: 'MMMM dd, YYYY' }}</p>
                                <div class="card-text">
                                    <em class="small">Responsibility</em>
                                    <ul class="small">
                                        <li *ngFor="let highlight of work?.highlights">{{highlight}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Experience Section Ends -->
