<!-- Naviigation Section -->
<nav [ngClass]="[navBorder]" id="scroll-navbar" class="navbar navbar-expand-lg fixed-top navbar-light" style="background-color: #fff;" (scroll)="scrollHandler($event)">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMain">
            <ul class="navbar-nav mb-2 mb-lg-0 w-100 justify-content-around">
                <li class="nav-item">
                    <a class="nav-link fs-5" aria-current="page" href="#profile-banner">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5" href="#section-about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5" href="#section-skills">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5" href="#section-experiences">Experiences</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5" routerLink="projects" routerLinkActive="active" ariaCurrentWhenActive="page">Project</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5" href="#section-pricing">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5" routerLink="blog" routerLinkActive="active" ariaCurrentWhenActive="page">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5" href="#section-contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- /Naviigation Section Ends  -->
<div class="row pb-3 pt-3"> <div class="clearfix">
