<div class="position-sticky border" style="top: 4rem;">
    <!--div class="p-4 mb-3 bg-light rounded border-bottom">
        <div class="text-center pb-4">
          <img src="#" class="w-25 rounded-circle" alt="...">
        </div>
        <div class="text-center pb-4">
            <h5>Elkanah Malonza</h5>
            <strong>Computer Programmer</strong>
        </div>
        <div class="text-center pb-4">
            <p class="mb-0">The easiest way to remember whether to use readonly or const is to ask whether you’re using it on a variable or a property. Variables use const whereas properties use readonly.</p>
        </div>
        <div class="text-center">
            <a href="#" class="btn btn-outline-dark"><i class="fas-fa-linkedin"></i></a>
            <a href="#" class="btn btn-outline-dark"><i class="fas-fa-linkedin"></i></a>
            <a href="#" class="btn btn-outline-dark"><i class="fas-fa-linkedin"></i></a>
        </div>

    </div-->

    <div class="p-4">
        <h4>Category</h4>
        <ol class="list-unstyled text-decoration-none">
            <li *ngFor="let item of category?.results"><a *ngIf="item" [routerLink]="['/blog/category/articles', slugify(item.name), binarify(item.id)]" class="text-decoration-none">{{item?.name}} ({{item?.article_count}})</a></li>
        </ol>
    </div>

    <div class="p-4">
        <h4>Top Series</h4>
        <ol class="list-unstyled text-decoration-none">
            <li *ngFor="let item of series?.results"><a *ngIf="item" [routerLink]="['/blog/series/articles', slugify(item.name), binarify(item.id)]" class="text-decoration-none">{{item?.name}} ({{item?.article_count}})</a></li>
        </ol>
    </div>

    <!--div class="p-4">
        <h4 class="fst-italic">Archives</h4>
        <ol class="list-unstyled mb-0">
            <li><a href="#" class="text-decoration-none">July, 2022</a></li>
            <li><a href="#" class="text-decoration-none">August, 2022</a></li>
        </ol>
    </div-->
</div>
